<a href="https://colab.research.google.com/github/abhibootcamp/Data-Science-Abhishek/blob/master/Digit_Recognizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Digit Recognizer System (Kaggle Problem)</h1>

<p><b>First of all we have to import required library which is use in this project </b> </p>


*   TensorFlow
*   Numpy
*   Pandas

In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

<p><b>Now we have to read the CSV data using Pandas</b></p>

In [110]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train_features = train.drop(['label'], axis=1)
train_labels = train['label']

<b>Convert the Pandas DataFrame in Numpy array so that it is use in model to train</b>

In [80]:
np_train_features = np.array(train_features).astype(np.float64)
np_train_labels = np.array(train_labels)
np_test_features = np.array(test).astype(np.float64)

250.0

<b>Declaring Normalize function so that any value not have huge impact on building up ML Model</b>

In [112]:
def normalize(arr):
  for i in range(len(arr)):
    for j in range(len(arr[i])):
      arr[i][j] /= 255
  return arr

In [113]:
np_test_features = normalize(np_test_features)
np_train_features = normalize(np_train_features)



*   **Creating First hidden Dense layer with 128 Neuron and Relu Activation Function so that it can handle non-linearity problem.**
*   **Creating Output layer with 10 different output each one give the probability of occurence of each Digit.**

In [82]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation=tf.nn.relu),
    tf.keras.layers.Dense(10, activation=tf.nn.softmax)
])

**Compile the model where Optimizer 'adam' adjust the weight of Neuron. and for finding loss in each traverse we use SparseCategoricalCrossentropy()**

In [83]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(),
              metrics=['accuracy'])

**Train the model by fitting Data to it.**

In [85]:
model.fit(np_train_features,np_train_labels, epochs=20)

Epoch 1/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0035 - accuracy: 0.9992
Epoch 2/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0046 - accuracy: 0.9988
Epoch 3/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0039 - accuracy: 0.9989
Epoch 4/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0029 - accuracy: 0.9993
Epoch 5/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0054 - accuracy: 0.9983
Epoch 6/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0017 - accuracy: 0.9996
Epoch 7/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0058 - accuracy: 0.9981
Epoch 8/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0035 - accuracy: 0.9989
Epoch 9/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0029 - accuracy: 0.9990
Epoch 10/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0024 - accuracy: 0.9993
Epoch 11/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0033 - accuracy: 0.9990
Epoch 12/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0035 - accuracy: 0.9988
Epoch 13/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0034 - accuracy: 0.9989
Epoch 14/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0039 - accuracy: 0.9988
Epoch 15/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0047 - accuracy: 0.9983
Epoch 16/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0012 - accuracy: 0.9998
Epoch 17/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0024 - accuracy: 0.9992
Epoch 18/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0037 - accuracy: 0.9987
Epoch 19/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0039 - accuracy: 0.9987
Epoch 20/20
1313/1313 [==============================] - 2s 2ms/step - loss: 0.0016 - accuracy: 0.9995

**Predicting the result and bring it into required format.**

In [109]:
res_dataset = model.predict(np_test_features)
res = []
for i in range(len(res_dataset)):
  max = -1
  index = -1
  for j in range(len(res_dataset[i])):
    if res_dataset[i][j] > max:
      max = res_dataset[i][j]
      index = j
  res.append(index)

**Converting the result into CSV format and Storing**

In [105]:
final_sub=pd.DataFrame()
final_sub['ImageId']=range(1,len(res)+1)
final_sub['Label']=res
final_sub

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [106]:
final_sub.to_csv("test_result1.csv",index=False)